#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main {
  position: relative;
}

.directions {
  position: absolute;
  z-index: 1000;
  background-color: black;
  color: white;
  top: 3%;
  right: 3%;
}

.eqkTable {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  min-width: 400px;
}

.eqkTable th,
.eqkTable td {
  padding: 16px;
}

.eqkTable thead {
  background-color: #1976d2;
  color: #fff;
}

.eqkTable tbody tr:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}


.marker {
  color: #fff;
  background-color: #000;
  font-family: 700;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
}


.marker h2 {
  margin: 0;
}