#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main {
  position: relative;
}

.directions {
  position: absolute;
  z-index: 1000;
  background-color: black;
  color: white;
  top: 3%;
  right: 3%;
}