*,html,body {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#map {
  flex: 1;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.directions {
  position: absolute;
  z-index: 1000;
  background-color: black;
  color: white;
  top: 3%;
  right: 3%;
}

.eqkTable {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  min-width: 400px;
}

.eqkTable th,
.eqkTable td {
  padding: 16px;
}

.eqkTable thead {
  background-color: #1976d2;
  color: #fff;
}

.eqkTable tbody tr:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}


.marker {
  color: #fff;
  background-color: #000;
  font-family: 700;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  transition: all 2s;
  position: relative;
  width: 25px;
  height: 25px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  
}

.eqk-detail {
  position: absolute;
  animation: fadeIn 2s;
}



.highlight {
  width: 180px;
  height: 110px;
  transition: all 1s ease-in-out;
}


.marker h2 {
  margin: 0;
}